# Python Bytecode and Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry virtualenv
.venv/

# PyInstaller
# Usually these files are written by a PyInstaller script; this is targeted towards
# an end-user clicking an executable file supplied by developers.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
env/
venv/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

#mypy
.mypy_cache/

# pytest
.pytest_cache/
